<header>
        <div class="container top__container">
            <h1>devjobs</h1>
            <div class="nightSwitch__container"> 
                <svg class = "sun__svg">
                    <use xlink href = "assets/sprites/desktop__sprite.svg#icon-sun"></use>
                </svg>  

                <input class="toggle__input" id = "checkbox" type="checkbox" role="switch" aria-checked="false">
                <label for="checkbox" class="check"></label>

                <svg class = "sun__svg">
                    <use xlink href = "assets/sprites/desktop__sprite.svg#icon-moon"></use>
                </svg> 
            </div>
        </div>

        <!-- NO SEARCHBAR -->

    </header>