{%-mobileSprite-%}
{%-tabletSprite-%}
{%-desktopSprite-%}

<header>
        <div class="container top__container">
            <h1>devjobs</h1>
            <div class="nightSwitch__container"> 
                <svg class = "sun__svg">
                    <use xlink:href="#svg-icon-sun"></use>
                </svg>  

                <input class="toggle__input" id = "checkbox" type="checkbox" role="switch" aria-checked="false">
                <label for="checkbox" class="check"></label>

                <svg class = "sun__svg">
                   <use xlink:href="#svg-icon-moon"></use>
                </svg> 
            </div>
        </div>

        <!-------------- MOBILE SEARCHBAR ( 0 - 758px) -------------->
        <div 
            id = "form__mobile"
            class="container searchbar__container searchbar__mobile"          
            method= "GET"
        >
            
            <!--TITLE INPUT-->
            <label class = "mobile_title_label">
                <span class="sr-only">Filter by title</span>
                <input

                    id = "title__mobile"
                    data-search
                    type="search"  
                    name = "title" 
                    class="search__input search__input-mobile search" 
                    placeholder="Filter by title..."
                >
            </label>

            <!--LOCATION & FULLTIME POPOUT INPUT-->
            <button
                type="button"  
                class="filter__btn"  
                aria-controls="dialog-container"
                aria-expanded= "false"
                >
                <span class="sr-only">location and fulltime filters</span>
                <svg class = "filter__svg">
                    <use xlink:href="#svg-icon-filter"></use>
                </svg>
            </button>
            
            <!--SEARCH/SUBMIT-->
            <button
                id= "searchBtn__mobile" 
                class="search__btn"
                type = "submit" 
                >
                    <span class="sr-only">submit search</span>
                    <svg class = "search__svg">
                        <use xlink:href="#svg-icon-search"></use>
                    </svg>
            </button>


            <!---------------- MODAL -------------->
            <div 
                class = "dialog-container hide" 
                role = "dialog"
                aria-modal = "true"  
                id="dialog-container"
                >

                <div class = "dialog-overlay"></div>  

                <div class="filter__container" role="document">
                    <div class="filter__container-top">
                        <svg class = "location__svg">
                            <use xlink:href="#svg-icon-location"></use>
                        </svg>

                        <label>
                            <span class="sr-only">Filter By Location</span>
                            <input
                                id = "location__modal"
                                location-search
                                type="search"
                                name="location"
                                placeholder = "Filter by location..."
                                class="filter__search filter__search-dialog search"
                                >
                        </label>

                    </div>

                    <div class="filter__container-bottom">
                        <input 
                            id="fulltime__modal"
                            fulltime-checkbox
                            type="checkbox"
                            name= "fulltime"
                            aria-checked="false" 
                            id="filter__checkbox"  
                            class="filter__checkbox filter__checkbox-dialog"
                            >
                        <label 
                            for="filter__checkbox" 
                            class="filter__checkbox-label"
                            fulltime-checkbox
                            >
                                Full Time Only
                            </label>


                        <button 
                            id= "searchBtn__modal"
                            class="btn search__btn filter__container-searchBtn"
                            
                            >
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!------------- TABLET/DESKTOP SEARCHBAR (759px - 1107px, and on) ------------->
        <div 
            id = "form__desktop"
            class="container searchbar__container searchbar__desktop" 
            method = "GET"
            onsubmit
            >
            
            <!--TITLE INPUT-->
            <div class="search__left">
                <label class = "title__label__desktop">
                    <span class="sr-only">Filter by title</span>
                    <svg class = "search__svg">
                        <use xlink:href="#svg-icon-search"></use>
                     </svg>
                     <input 
                        id="title__desktop"
                        data-search
                        type="search"
                        name="title"
                        class="search__input search__input-desktop search" 
                        placeholder="Filter by title...">
                </label>
            </div>

            <!--LOCATION INPUT-->
            <div class="search__middle">
                <label class = "filter__label__desktop">
                    <span class="sr-only">Filter by title</span>
                    <svg class = "location__svg">
                        <use xlink:href="#svg-icon-location"></use>
                     </svg>
                    <input
                        id = "location__desktop"
                        location-search 
                        type="search"
                        name="location" 
                        placeholder = "Filter by location..." 
                        class="filter__search filter__search-desktop search">
                </label>
            </div>

            <!--FULLTIME INPUT & SEARCH/SUBMIT-->
            <div class="search__right">
                <!--FULLTIME INPUT-->
                <span class="FT__container">
                    <input 
                        id="fulltime__desktop"
                        fulltime-checkbox
                        name="fulltime"
                        type="checkbox" 
                        aria-checked="false" 
                        id="filter__checkbox" 
                        class="filter__checkbox filter__checkbox-desktop"
                    >
                    <label 
                        for="filter__checkbox" 
                        class="filter__checkbox-label"
                        fulltime-checkbox
                        >
                        Full Time
                    </label>
                </span>
                <!--SEARCH/SUBMIT-->
                <button 
                    id= "searchBtn__desktop"
                    class="btn search__btn search__btn-desktop"
                    
                >
                    Search
                </button>
            </div>
             
        </div>

    </header>