---json
{
"title":"Home", 
"layout":"base.njk"
}
---
   <main>
        <div class="container results__container">
            
            {# JS is filling in all of these cards #}

            <div id="btn-wrapper">
                <button class="load__more btn">
                    Load More
                </button> 
            </div>
        </div>

    </main> 



    