*, *::before, *::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

// COLORS PRIMARY
$violet:#5c66dc;
$midviolet:#6770db;
$lightViolet: #939BF4;
$veryDarkBlue:#19202D;
$midnight: #121721;

// COLOR SECONDARY
$white: #FFFFFF;
$lightGrey: #F4F6F8;
$grey:#9DAEC2;
$darkGrey:#6E8098;

// FONT
$main: 'Kumbh Sans', sans-serif;
$inputFontSize: 1rem;


/////////////////////////////////////////////////////////////////



body{
    // Light Theme CSS Variables (default)
    --body-bg-color:#{$lightGrey};
    --component-bg-color:#{$white};
    --filter-svg-color: rgb(110, 128, 151);

    // jobPost colors
    --companySite-btn: #{rgb($lightViolet, .4)};
    --companySite-btn-font: #{$violet};


    --input-text-color: #{$midnight};
    --heading-color: #{$midnight};
    --checkbox-bg-color:#{$grey};
    --general-text-color: #{$darkGrey};
    // external link btns
    --external-link-bg-color: #{rgb($lightViolet, .4)};
    // regular btns (load more, apply now)
    --btn-bg-color: #{$violet};
    --btn-bg-color-hover: #{$lightViolet};
    // search bar btn
    --search-btn-bg-color: #{$violet};
    --search-btn-bg-color-hover: #{$lightViolet};



    background-color: var(--body-bg-color);
    font-family: $main;
    transition:ease-in .2s;
}

// Dark Theme CSS Variables (default)
body.dark{
    --body-bg-color:#{$midnight};
    --component-bg-color:#{$veryDarkBlue};
    --filter-svg-color: #{$white};
    --input-text-color: #{$white};
    --heading-color: #{$white};
    --checkbox-bg-color:#{$darkGrey};
    --general-text-color: #{$grey};

    //jobPost colors
    --companySite-btn: #{$darkGrey};
    --companySite-btn-font: $lightGrey;


    // external link btns
    --external-link-bg-color:#{rgb($violet, .4)};
    // regular btns (load more, apply now)
    --btn-bg-color: #{$midviolet};
    --btn-bg-color-hover: #{$lightViolet};
    // search bar btn
    --search-btn-bg-color: #{$midviolet};
    --search-btn-bg-color-hover: #{$lightViolet};
}

body > *{
    margin: 0 auto;
}

.container{
    margin:0 auto;
    // border:1px solid blue;
    width:calc(100% - 2rem);
    max-width:1110px
}

.btn{
    background-color:var(--btn-bg-color);
    border-radius:5px;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:$white;
    font-family:$main ;
    font-weight:700;
    border:none;
    transition:ease-in .1s;

    font-size:1.2rem;
    font-weight: 500;;
 
    &:hover{
        cursor:pointer;
        background-color: var(--btn-bg-color-hover);
    }
}


// .......................HEADER ...................//

header{
    height:7rem;
    width:100%;
    border-bottom-left-radius:5rem;
    background-image:url(./assets/mobile/bg-pattern-header.svg);

    background-size:cover;
    background-position: center;
    z-index:1; //transformed logo card <span> gets put on equal stacking context w/<header> & would float over <header>. This keeps <header> on top.    
 
    position:fixed;
    top:0;
    // border: .5px solid green;
}

.top__container{
    // border:.5px solid orange;
    display:flex;
    justify-content: space-between;
    position:relative;
    margin:1.5rem auto 1.75rem auto;
    z-index:10;
}

h1{
    font-size:1.4rem;
    color:$white;
}


// ................... NIGHTSWITCH ....................//

.nightSwitch__container{
    display:flex;
    align-items: center;
    position:relative;
}

.sun__svg, .moon__svg{
    width:20px;
    height:20px;
}

.sun__svg{
    margin-right:.5rem;
}


.toggle__input{
    -webkit-appearance:none;
    opacity:0;
    width:0;
    height:0;
    
}

.check{
    display:block;
    position:relative;
    height: 20px;
    width:40px;
    background-color:$white;
    border-radius:20px;
    cursor:pointer;
    transition:ease-in .3s;
    overflow:hidden;
    margin-right:.5rem;
}

.check:before{
    content:"";
    display:block;
    position:absolute;
    height:16px;
    width:16px;
    top:2px;
    left:2px;
    border-radius:20px;
    background-color:$violet;
    transition:ease-in .2s;
}


.check:hover:before{
    background-color: $lightViolet;
}

input[type="checkbox"].toggle__input:checked + .check:before{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}




// ...................................SEARCHBAR....................................//


.searchbar__container{
    position:absolute;
    background-color: var(--component-bg-color);
    left:50%;
    transform:translatex(-50%);
    border-radius:5px;
    padding:.75rem;
    align-items:center;
}

.searchbar__mobile{
    display:flex;
}

.searchbar__desktop{
    display:none;
}


.search{
    background-color:var(--component-bg-color);
    font-family: $main ;
    padding:.75rem;
    border:none;
    font-size: $inputFontSize;
    color:var(--input-text-color);
    font-weight:300;
}

.search::-webkit-search-cancel-button{
    appearance: none;
}

.search:focus{
    outline:none;
}

.search__input{
    width:130px;
    flex-grow:1;
}

.search__input::placeholder, .filter__search::placeholder{
    color:rgb($darkGrey, .85);
    // color: green;
}


.filter__btn, .search__btn{
    padding: .5rem;
    border:none;

    &:hover{
        cursor:pointer;
    }
}

.filter__btn{
    margin:0 .5rem;
    padding: .5rem;
    background-color: transparent;;
    border:none;
}

.search__btn{
    background-color: var(--search-btn-bg-color);
    border-radius: 5px;
    transition: ease-in .1s;
    

    &:hover{
        background-color: var(--search-btn-bg-color-hover);
    }

    // &:active{
    //     background-color: var(--search-btn-bg-color-hover);
    // }
}

.search__svg, .filter__svg, .location__svg{
    transform:scale(.75);
}

// DESKTOP SEARCH BTN
.search__btn-desktop{
    font-size: 1rem;
    padding:.85rem;
}


.search__svg{
    font-size:.8rem;
    width:24px;
    height:24px;
    fill:white; 
    // border:.5px solid yellow;
}

.filter__svg{
    fill: var(--filter-svg-color);
    height:20px;
    width:20px;
    // border:.5px solid yellow;
}

.location__svg{
    fill:var(--btn-bg-color);
    width:35px;
    height:35px;

}

// ...................FILTER CONTAINER (POPUP - MOBILE) ..................//

// ...........a11ydialog Modal settings .........//

// entire screen container for the modal (display:none)
.dialog-container[aria-hidden="true"]{
    display:none;
}

.dialog-overlay{
    background-color: rgb(43 46 56 / 0.7); /* 1 */
    animation: fade-in 200ms both;
}

.dialog-container, .dialog-overlay{
    z-index:100; /* to be above the <header> (z-index:200)*/
    position:fixed;
    top: 0; /* 1 */
    right: 0; /* 1 */
    bottom: 0; /* 1 */
    left: 0; /* 1 */
}


// modal popup container
.filter__container{
    padding:.5rem;
    z-index:200;
    background-color:var(--component-bg-color);
    // border:1px solid blue;
    border-radius:5px;
    animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
    min-width:337px;
    max-width:339px;

    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);    

    & > *{
        padding:1rem;
        
    }
}

/* 'fade-in' animation for modal + overlay  */
@keyframes fade-in {
    from {
      opacity: 0;
    }
}

@keyframes slide-up {
    from {
      transform: translate(10% 10%);
    }
}

// ............Filter Container Top Half......... //

.filter__container-top{
    border-bottom:2px solid rgb($grey, .4);
    display:flex;
    align-items:center;
}


.filter__search{
    padding-left:0;
    // font-size:1.2rem;
}

.filter__search, .filter__checkbox-label{
    margin-left:.5rem;
}

// ............Filter Container Bottom Half......... //

.filter__container-bottom{
    padding-top:1.5rem;
}

.filter__checkbox[type= "checkbox"]{
    appearance:none;
    -webkit-appearance: none;
    height:1.25rem;
    width:1.25rem;
    margin-left:.25rem;
    background-color:var(--checkbox-bg-color);
    cursor:pointer;
    border-radius: 3px;
}

.filter__checkbox[type= "checkbox"]:after{
    
    content:"\f00c";
    
    height:100%;
    width:100%;
    border-radius: 3px;
    display:flex;
    justify-content:center;
    align-items:center;
    

    font-family:"Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight:900;
    background-color: $violet;
    color: $white;

    opacity:0;
}

.filter__checkbox[type= "checkbox"]:hover{
    background-color:$lightViolet;
}

.filter__checkbox[type= "checkbox"]:checked:after{
    opacity:100;
    border:none;
}

.filter__checkbox-label{
    font-weight:500;
    color: var(--input-text-color);
    // font-size:1.2rem;
}


.filter__container-searchBtn{
    display:block;
    margin:1.5rem auto 0 auto;
    padding:1rem;
    font-size: 1.2em;
    // font-weight: 500;;
    min-width:100%;

}

.displayFilter{
    display:block;
}



// .................................... MAIN ...............................//

// max result card width: 339px

// this container's max-width is 70rem (1110px)
// 
.results__container{
    margin-top:13rem;
    padding:0;
    padding-bottom:3rem;
    display:flex;
    justify-content:center;
    align-content: center;
    flex-wrap:wrap;
    
    grid-row-gap: 3.5rem;
    grid-column-gap:2%;
   
    // border: .5px solid blue;
}

@keyframes cardDrop {
    0% {
        transform:translateY(-100%);
        opacity:0;
    }
    100%{
        transform:translateY(0%);
        opacity:1;
    }
}

.card{
    background-color:var(--component-bg-color);
    padding:0 2rem 2.75rem 2rem;
    text-decoration: none;;
    border-radius:8px;
    width: 350px;
}

#btn-wrapper{
    min-width:100%;
    // border:.5px solid blue;
}


.load__more{
    background-color:var(--btn-bg-color);
    font-size:1rem;
    display:block;
    padding-left: 2rem;
    padding-right:2rem;
    margin:0 auto;
    width:max-content;
}

.noMatch__message{
    font-size:2em;
    font-weight:200;
    line-height:1.5;
    text-align:center;
    color: var(--heading-color);
}


.filter__container-svg{
    fill:var(--btn-bg-color);
}

.hide{
    display:none;
    // animation: cardDrop 1s ease-in .3s;
}
// .................  CARD STYLING ..................//

// <span> inside the card
.logo__container{
    display:flex;
    align-items:center;
    justify-content: center;
    height:3.25rem;
    width:3.25rem;
    padding:.5rem;
    border-radius: 17px;
    transform:scale(1.2) translatex(.5rem) translatey(-1.5rem); 
    // border: .5px solid orange;
}

.logo__svg{
    height:25px;
    width:max-content;

}


.card__subtitles{
    display:inline-block;
    color:var(--general-text-color);
    font-weight:300;
    font-size:1.2em;
}


.post__time, .card__icon, .job__time{
    position:relative;
    top:-.75rem;
}

.card__icon{
    font-size:2em;
    font-weight:700;
    margin:0 .5rem;
}

h2{
    color:var(--heading-color);
    font-size:1.35em;
     margin-bottom:1rem;

}

.card__location{
    color:var(--btn-bg-color);
    font-weight:700;
    margin-top:2rem;
}

// ....................... jobPost MAIN .....................//
.jobPost__container{
    width:calc(100% - 4rem);
    max-width:730px;
    
    margin:0 auto;
    margin-top:6rem;
    border: .5px solid red;
}

.upperBox, .lowerBox{
    background-color:var(--component-bg-color);
    border-radius: 8px;
}

.upperBox{
    z-index:2;
    position:sticky;
    top:6rem;
    // border:.5px solid blue;
}

// UPPER BOX

.upperBox, .upperBox__left, .upperBox__right{
    display:flex;

}

.upperBox, .upperBox__left{
    flex-direction:column;
    align-items: center;;
}

.upperBox__left{
    height:min-content;
}

.upperBox__right{
    padding:1rem;
    padding-bottom:2rem;
    align-items:center;
}

.logo__box{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    margin-top:-25%;

    display:flex;

    justify-content:center;
    align-items: center;
    
}

.jobPost__logoSvg{
    transform: scale(.75);
}


.jobPost__titleBox{
    padding:1.25rem;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.jobPost__h4{
    font-size:1.5em;
    margin-bottom:.5rem;
    color:var(--input-text-color);
}

.jobPost__titleBox span{
    font-size: 1.15em;
    color: var(--general-text-color);
}

.jobPost__siteBtn{
    padding:.8rem 1rem;
    font-size:1.2em;
    background-color: var(--companySite-btn);
    color: var(--companySite-btn-font);
    // font-family: 
}


// LOWER BOX

.lowerBox__section{
    margin-bottom: 3.5rem;
    border: .5px solid green;
    

    & > *:not(:last-child){
        margin-bottom:2rem;
    }
}

// 'lowerBox__heading'

.lowerBox{
    margin-top:2rem;
    padding:2rem 1.5rem;
}

.lowerBox__applyNow{
    margin-top:1.5rem;
}

.jobPost__dot{
    font-size:2em;
    font-weight:700;
    margin:0 .5rem;
}

.jobPost__position{
    font-size:1.5em;
    font-weight:600;
    margin:.6rem 0;
}

.jobPost__country{
    font-size: 1.25em;
    color:var(--btn-bg-color);
    font-weight: 600;
}

.lowerBox__applyNow{
    font-family:$main;
    padding:1rem;
    font-weight:600;
    font-size:1.25em;
    color:white;
    min-width:100%;
}

.lowerBox__para, .lowerBox__list{
    color:var(--general-text-color);
    font-size:1.3em;
    font-weight:200;
    line-height:1.6;
}

.lowerBox__list{
    margin-left:1.5rem;


    & > *{
       margin-bottom:.8rem; 
    }

    & > li::marker{
        color: $violet; 
        
    }

    & > li span{
        border:.5px solid blue;
        position:relative;
        // left: 15px;
    }
}

// .lowerBox__role__ol li::marker{
//     border: .5px solid red;
//     // margin-right:1rem;
// }











// ....................... MEDIA QUERIES .....................//


@media(min-width:500px){

    .container{
        width:calc(100% - 4.5rem); 
    }
}

@media(min-width:607px){

    // ....................... jobPost MAIN .....................//
    
    .upperBox, .upperBox__left, .upperBox__right{
        flex-direction: row;
    
    }

    .upperBox{
        justify-content: space-between;
    }

    .upperBox__left{
        align-items: unset;
    }

    .logo__box{
        height: 140px;
        width: 140px;
        border-radius: 0px;
        margin-top:0;
    }

    .jobPost__logoSvg{
        transform: scale(.6);
    }

    .jobPost__titleBox{
        display:block;
        padding:2.25rem;
    }

    .upperBox__right{
        padding:2rem;
    }
}



@media(min-width: 759px){

    /////////// HEADER //////////

    header{
        background-image: url(assets/tablet/bg-pattern-header.svg);
        height:8.25rem;
    }
    .top__container{
        margin:2.2rem auto;
    }
    h1{
        font-size:1.7rem;
    }

    .searchbar__container{
        padding: 0 .75rem;
    }

    // hide mobile searchbar
    .searchbar__mobile{
        display:none;
    }

    // show desktop searchbar
    .searchbar__desktop{
        display:flex;
        justify-content: stretch;
    }

    .search__left, .search__right, .search__middle{
        height:4.5rem;
        padding-left:1rem;
        flex:1; 
        display:flex;
        align-items:center;
        
    }

    .search__middle, .search__right{
        max-width:20rem;
    }
     .search__middle{
        border-left:2px solid rgb($grey, .4);
        border-right:2px solid rgb($grey, .4);
     }

    .search__right{
        justify-content: space-between;
    }


    .search__svg{
        fill:var(--btn-bg-color);
        transform:none;
    }

    .results__container{
        margin-top:16rem;
    }


    /////// FILTER DIALOG (A11Y) ///////
    #my-dialog-container[aria-hidden="true"]{
        display:none;
        visibility:hidden;
    }

}

// @media(min-width:776px){

//     .results__container:not(){
//         // justify-content:space-between;
//     }
// }

@media(min-width:1107px){
    .search__btn-desktop{
        padding: .8rem 2.5rem;
    }

    
}

@media(min-width:1109px){
    header{
        background-image: url(assets/desktop/bg-pattern-header.svg);
    }
    
}